
.br
  border-right: 1px solid $border-default-color
.bb
  border-bottom: 1px solid $border-default-color
.bl
  border-left: 1px solid $border-default-color
.bt
  border-top: 1px solid $border-default-color

.br-0
  border-right: 0
.bb-0
  border-bottom: 0
.bl-0
  border-left: 0
.bt-0
  border-top: 0

.b-gray
  border-color: color('gray', 'lighten-1')
