#ess-breadcrumbs {
    position: relative;
    flex: 1;
    flex-basis: auto;
    align-self: baseline;

    top: 0;
    left: $base-margin;
    margin: 0;
    font-family: 'Exo';
    z-index: 100000;

    li {
		&::before {
			display: none;
		}
        margin: 0;
        display: block;
        float: left;
        line-height: 4rem;
        height: 4rem;
        position: relative;
        font-size: $h4;

        * { line-height: 4rem; height: 4rem;}


        &.separator {
            top: 0;
            .ess-icon {
                font-size: $h2;
            }
            
        }
        a {
            color: $primary-text;
        }

        a:hover {
            color: $primary-color;
            text-decoration: underline;
        }
        

        h2 {
            font-size: $h1;
            color: $white;
            line-height: $medium-icon;
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
        h3 {
            margin: 0;
            padding: 0;
            font-size: $h2 !important;
            line-height: $medium-icon;
        }
        .icon_home {
            font-size: 3rem;
        }
    }
}


