%ess-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: $base-margin;
  margin: $base-margin 0;
  color: $white;
  background: $primary-color;
  border: none;
  font-family: $headline-font;
  font-weight: 500;

}

%ess-button:hover {

  color: $white;
  background: $primary-color-hover;

}

.ess-button {
  @extend %ess-button;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.sm {
    font-size: $h5;
  }

  &.md {
    font-size: $h4;
  }

  &.lg {
    font-size: $h3
  }

  &.xl {
    font-size: $h2
  }

  &.rounded-full {
    border-radius: 999px
  }

  &.rounded-slight {
    border-radius: 4px;
  }

  &.rounded-none {
    border-radius: 0;
  }

}

.ess-button:hover {
  color: white;
  background: $primary-button-bg-hover;
}