@use "sass:map";

$ess-blue: #00c0f3;
$ess-blue-dark: #0f2a56;
$ess-blue-supplementary: #174f72;
$ess-sand: #e1e0d4;

$primary-color-transp: rgba(60, 180, 255, 0.5);
$secondary-color-transp: rgba(15, 42, 86, 0.5);
$ess-darkest-transp: rgba(12, 22, 46, 0.5);
$ess-darkest-full: rgba(12, 22, 46, 1);

$ess-gradient: linear-gradient(
  0deg,
  rgba(21, 161, 255, 1) 0%,
  rgba(20, 190, 240, 1) 100%
);

// background of the navigation cube on pages
$light-gray: rgb(240, 240, 240);

$basic: ("white" #fff, "black" #000);

$essblue: (
  "base": #2187ff,
  "lighten-1": #66b1ff,
  "lighten-2": #99cbff,
  "lighten-3": #cce5ff,
  "lighten-4": #e9f0fe,
  "darken-1": #14a0ff,
  "darken-2": #2d78c8,
  "darken-3": #0229be,
  "darken-4": #0f3963,
  "darken-5": #00152f,
);
$lightblue: (
  "base": #c3e9f9,
  "lighten-1": #cfedfa,
  "lighten-2": #dbf2fb,
  "lighten-3": #e7f6fd,
  "lighten-4": #f3fbfe,
);

$green: (
  "base": #00f77f,
  "lighten-2": #81c784,
  "lighten-1": #5aff7f,
  "darken-1": #00ee7a,
  "darken-2": #388e3c,
);
$yellow: (
  "base": #feffc2,
  "lighten-1": #fdffe0,
  "lighten-2": #fdfbf3,
  "darken-1": #f3f4bd,
  "darken-2": #e9e4b9,
);

$red: (
  "base": #f44336,
  "lighten-2": #e57373,
  "lighten-1": #ef5350,
  "darken-1": #e53935,
  "darken-2": #d32f2f,
);

$gray: (
  "base": #bebebe,
  "darken-1": #787878,
  "darken-2": #4d4d4d,
  "darken-3": #2d2d2d,
  "lighten-1": #d4d4d4,
  "lighten-2": #e6e6e6,
  "lighten-3": #e1e1e1,
  "lighten-4": #f2f1f0,
  "lighten-5": #f9f9f9,
);

$processing: (
  "base": #d4cba4,
  "darken-1": #c2b98e,
  "darken-2": #9d906f,
  "lighten-1": #e5debf,
  "lighten-2": #f3efde,
);

$paintshop: (
  "base": #9b64aa,
  "darken-1": #895aa4,
  "darken-2": #5b266c,
  "lighten-1": #bf8dcd,
  "lighten-2": #f1e4f5,
);

$data-cleaning: (
  "base": #0ea285,
  "darken-1": #108673,
  "darken-2": #006654,
  "lighten-1": #86d2c3,
  "lighten-2": #ddf6f1,
);

$mobility: (
  "base": #eeaa32,
  "darken-1": #be8b37,
  "darken-2": #ae7d36,
  "lighten-1": #eec886,
  "lighten-2": #f7ebd6,
);

$washing: (
  "base": #9ad9eb,
  "darken-1": #68b2c6,
  "darken-2": #43888d,
  "lighten-1": #c1e8f3,
  "lighten-2": #e8f7fa,
);
$environment: (
  "base": #a4d06e,
  "darken-1": #78a94e,
  "darken-2": #577d40,
  "lighten-1": #c7e5a2,
  "lighten-2": #ecf9dd,
);
$oil-gas: (
  "base": #52656e,
  "darken-1": #294146,
  "darken-2": #001d27,
  "lighten-1": #7995a2,
  "lighten-2": #c5d6de,
);

$shades: (
  "black": #000000,
  "white": #ffffff,
  "transparent": transparent,
);

$colors-ess: (
  "basic": $basic,
  "yellow": $yellow,
  "essblue": $essblue,
  "lightblue": $lightblue,
  "red": $red,
  "green": $green,
  "gray": $gray,
  "shades": $shades,
  "processing": $processing,
  "data-cleaning": $data-cleaning,
  "paintshop": $paintshop,
  "mobility": $mobility,
  "washing": $washing,
  "environment": $environment,
  "oil-gas": $oil-gas,
);

@function color($color, $type) {
  @if map.has-key($colors-ess, $color) {
    $curr_color: map.get($colors-ess, $color);

    @if map.has-key($curr_color, $type) {
      @return map.get($curr_color, $type);
    }
  }

  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}

// MIXINS FOR GRADIENT AND OPACITY -------------------------------

@mixin opacity($value) {
  opacity: $value;
}

@mixin radial-gradient($outer_color, $inner_color) {
  background: radial-gradient($outer_color, $inner_color);
}
