.col-download-area {

    .download-list {
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 1px solid color('gray', 'lighten-2');

            a {
                .ess-icon {
                    color: $secondary-color;
                }

                text-decoration: none;
                transition: background-color .5s ease;

                &:hover {
                    background-color: color('essblue', 'lighten-2');
                }
            }

        }
    }


}

#download-container {
    .sense {background: none;}
    .col-download-area {
        width: 100%;
        a { width: 100%; color: color("gray", "base"); }
    }
}

@media only screen and (min-width: $medium-screen) {
    #download-container .col-download-area { width: 50%; }
}
@media only screen and (min-width: $large-screen) {
    #download-container .col-download-area { width: 33.33333%; }
}