.page-footer {
    font-size: 80%;
    background: color('grey', 'lighten-2')-light-ii !important;
    .col-footer-news {
        order: 1
    }
    .col-footer-events {
        order: 2;
    }
    .col-footer-contact {
        order: 4;
    }
    .col-footer-menu {
        order: 3;
        li {
			&::before { 
				display : none; 
			}
			list-style: none;
		}
    }
    h4,h5, h6 {
        color: color('grey', 'base') !important;
        font-size: 80%;
    }

    h5 {
        font-size: 110%;
    }

    h6 {
        font-size: 100%;
    }

    img {
        display: block;
    }

    a {
        padding-top: .5rem;
        display: block;
        color: color("grey", "base");
        text-decoration: none;
    }

    a:hover {
        color: color("grey", "base");
        text-decoration: underline;
    }

    .row .col {
        margin-top: $base-margin;
    }

    .row .col .row .col {
        margin-top: 0;
    }

    h7 {
        padding-top: $base-margin;
    }

    .row .row {
        margin: 0;
        padding: 0;
    }

    .row .row .col {
        margin: 0;
        padding: 0;
    }

    .row .row ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin: 0;
        padding: 0;
    }

    .ess-footer-article-content {
        padding-top: $half-margin;
        padding-bottom: $base-margin;
    }

    button {
        margin-top: $half-margin;
    }

    .ess-submit {
        margin: 0;
    }

    .footer-copyright {
        text-align: center;
        .copyright-element {
            color: color('grey', 'lighten-2')-dark-ii;
            display: inline-block;
            padding: 0 $half-margin;
            border-left: 1px solid color('grey', 'lighten-2');
            &:first-child { border-left: none; }
            a {
                color: color('grey', 'lighten-2')-dark-iii;
            }
        }
    }
}

.page-footer>.container>.row>.col+.col {
    border-left: 1px solid #999;
}

.ess-subscribe-footer {
    display: flex;
    flex-flow: row nowrap;

    .input-holder {
        flex-grow: 3;
        border: none;

        input {
            width: 100%;
        }
    }

    .button-holder {
        flex-grow: 1;
    }

    #subscribe-button {
        width: 100%;
    }
}

#ess-body #ess-footer {
    ul {
        padding: 0;
        li {
            list-style: none;
            font-size: 100%;
        }
    }
    .col-footer-menu, .col-footer-news, .col-footer-events {
        border-right: 1px solid color('grey', 'lighten-2')
    }
    .col-footer-menu .row>div {
        padding: 0 $half-margin;
    }
}

@media only screen and (max-width: $large-screen) {
    #ess-footer {
        .col-footer-contact {
            order: 3
        }
        .col-footer-menu {
            order: 4
        }
    }
}
@media only screen and (max-width: $small-screen) {
    #ess-footer >.container .row >.col-xs-12 {
        padding-bottom: $double-margin;
    }
}