#ess-body .ess-industry-card {
  position: relative;
  transition: all 0.4s;
  padding: $base-margin;
  padding-top: $base-margin !important;
  padding-bottom: $quad-margin !important;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;

  h2 {
    width: 100%;
    padding-top: $double-margin;
    color: color('grey', 'lighten-2')-light-ii;
    top: 0;
    font-size: $h3;
    transition: color 0.5s, top 0.5s;
  }

  //border: 2px solid white;
  cursor: pointer;

  +.ess-industry-card {
    border-left: 1px dotted color('grey', 'base');
  }

  .ess-svg-icon {
    padding: 0;
    max-width: 300px;
    margin: auto;

  }

  .ess-icon {
    //position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: $big-icon;
    color: color('grey', 'lighten-4');
    transition: color .5s;
    //border: 1px solid $secondary-color;
  }

  .ess-anim-icon {
    fill: color('grey', 'lighten-2');
    stroke: color('grey', 'base');
  }

  &:hover {
    color: $white;
    text-decoration: none;

    //background: color('grey', 'lighten-2');
    .ess-anim-icon {
      fill: color('essblue', 'base');
      stroke: color('essblue', 'darken-2');
    }

    h2 {
      top: -1rem;
      color: $primary-color;
    }

    .ess-icon {
      color: $primary-color;
    }
  }
}

.ess-industry-card:hover .ess-icon {
  color: $primary-color;

}

.industry-3d-holder {
  height: 250px;
  height: 0px;
}

#ess-intro {
  h1 {
    //font-family: "exo";
    border: none;
    text-align: left;
  }
}