


.ess-icon {
  font-family: essicons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    text-decoration: none !important;
  }
}


.icon_sense_freesurface:before {
  content: "\e94b";
}
.icon_sense_heattransfer:before {
  content: "\e94c";
}
.icon_sense_movingboundaries:before {
  content: "\e94d";
}
.icon_sense_multiphysics:before {
  content: "\e94e";
}
.icon_sense_nonnewtonianfluids:before {
  content: "\e94f";
}
.icon_sense_nvidia:before {
  content: "\e950";
}
.icon_sense_turbulence:before {
  content: "\e951";
}
.icon_calendar:before {
  content: "\e900";
}
.icon_circle_arrow_bottom:before {
  content: "\e901";
}
.icon_circle_arrow_left:before {
  content: "\e902";
}
.icon_circle_arrow_right:before {
  content: "\e903";
}
.icon_circle_arrow_top:before {
  content: "\e904";
}
.icon_cube:before {
  content: "\e905";
}
.icon_document_pdf:before {
  content: "\e906";
}
.icon_document_text:before {
  content: "\e907";
}
.icon_download:before {
  content: "\e908";
}
.icon_engineers:before {
  content: "\e909";
}
.icon_facebook:before {
  content: "\e90a";
}
.icon_fast:before {
  content: "\e90b";
}
.icon_gear:before {
  content: "\e90c";
}
.icon_hamburger:before {
  content: "\e90d";
}
.icon_home:before {
  content: "\e90e";
}
.icon_home_outline:before {
  content: "\e90f";
}
.icon_home_outline-31:before {
  content: "\e910";
}
.icon_home_outline-68:before {
  content: "\e911";
}
.icon_link:before {
  content: "\e912";
}
.icon_linkedin:before {
  content: "\e913";
}
.icon_lock:before {
  content: "\e914";
}
.icon_long_arrow_down:before {
  content: "\e915";
}
.icon_long_arrow_left:before {
  content: "\e916";
}
.icon_long_arrow_right:before {
  content: "\e917";
}
.icon_long_arrow_up:before {
  content: "\e918";
}
.icon_mail_outline:before {
  content: "\e919";
}
.icon_map:before {
  content: "\e91a";
}
.icon_message:before {
  content: "\e91b";
}
.icon_message_outline:before {
  content: "\e91c";
}
.icon_optimized:before {
  content: "\e91d";
}
.icon_phone_outline:before {
  content: "\e91e";
}
.icon_print:before {
  content: "\e91f";
}
.icon_reliable:before {
  content: "\e920";
}
.icon_send:before {
  content: "\e921";
}
.icon_send_narrow-copy-6:before {
  content: "\e922";
}
.icon_send_narrow:before {
  content: "\e923";
}
.icon_share:before {
  content: "\e924";
}
.icon_simple_arrow_down:before {
  content: "\e925";
}
.icon_simple_arrow_left:before {
  content: "\e926";
}
.icon_simple_arrow_right:before {
  content: "\e927";
}
.icon_simple_arrow_top:before {
  content: "\e928";
}
.icon_smart:before {
  content: "\e929";
}
.icon_star:before {
  content: "\e92a";
}
.icon_tb_ballmills:before {
  content: "\e92b";
}
.icon_tb_filters:before {
  content: "\e92c";
}
.icon_tb_floatationtank:before {
  content: "\e92d";
}
.icon_tb_heat:before {
  content: "\e92e";
}
.icon_tb_merge_defeature:before {
  content: "\e92f";
}
.icon_tb_merge_merge-copy-2:before {
  content: "\e930";
}
.icon_tb_merge_merge-copy-3:before {
  content: "\e931";
}
.icon_tb_merge_merge-copy:before {
  content: "\e932";
}
.icon_tb_merge_merge:before {
  content: "\e933";
}
.icon_tb_merge_prepare:before {
  content: "\e934";
}
.icon_tb_merge_reduce:before {
  content: "\e935";
}
.icon_tb_merge_remesh:before {
  content: "\e936";
}
.icon_tb_merge_repair:before {
  content: "\e937";
}
.icon_tb_merge_sheettosolid:before {
  content: "\e938";
}
.icon_tb_merge_solidtosheet:before {
  content: "\e939";
}
.icon_tb_offshore:before {
  content: "\e93a";
}
.icon_tb_pelletizers:before {
  content: "\e93b";
}
.icon_tb_pipe:before {
  content: "\e93c";
}
.icon_tb_ps_dippaint:before {
  content: "\e93d";
}
.icon_tb_ps_oven:before {
  content: "\e93e";
}
.icon_tb_ps_spray:before {
  content: "\e93f";
}
.icon_tb_scrubbers:before {
  content: "\e940";
}
.icon_tb_thickeners:before {
  content: "\e941";
}
.icon_tooblox_ps_drops:before {
  content: "\e942";
}
.icon_toolbox_ps_ecoating:before {
  content: "\e943";
}
.icon_toolbox_ps_lco:before {
  content: "\e944";
}
.icon_toolbox_ps_pvc:before {
  content: "\e945";
}
.icon_toolbox_ps_rinse:before {
  content: "\e946";
}
.icon_twitter:before {
  content: "\e947";
}
.icon_user:before {
  content: "\e948";
}
.icon_user_tie:before {
  content: "\e949";
}
.icon_zoom:before {
  content: "\e94a";
}
