@import './variables';

/*
Basic styles yet to be changed to tailwindlike namespaces
sm already done. md and lg to be added aswell.
Maybe using functions since manually it's quite tedius
*/
@each $class_name,
$attributes_map in $spaces-values {

  @each $space,
  $value in $spaces-map {
    .#{$class_name}-#{space} {
      @each $val in $attributes_map {
        #{$val}: $value;
      }
    }
  }

}

@each $space,
$value in $spaces-map {
  .p-all-#{$space} {
    padding: $value  !important;
  }

  .p-hor-#{$space} {
    padding-left: $value  !important;
    padding-right: $value  !important;
  }

  .p-vert-#{$space} {
    padding-top: $value  !important;
    padding-bottom: $value  !important;
  }

  .p-top-#{$space} {
    padding-top: $value  !important;
  }

  .p-right-#{$space} {
    padding-right: $value  !important;
  }

  .p-bot-#{$space} {
    padding-bottom: $value  !important;
  }

  .p-left-#{$space} {
    padding-left: $value  !important;
  }


  .m-all-#{$space} {
    margin: $value  !important;
  }

  .m-hor-#{$space} {
    margin-left: $value  !important;
    margin-right: $value  !important;
  }

  .m-hor-minus-#{$space} {
    margin-left: calc(-1* (#{$value})) !important;
    margin-right: calc(-1* (#{$value})) !important;
  }

  .m-vert-#{$space} {
    margin-top: $value  !important;
    margin-bottom: $value  !important;
  }

  .m-vert-minus-#{$space} {
    margin-top: calc(-1* (#{$value})) !important;
    margin-bottom: calc(-1* (#{$value})) !important;
  }

  .m-top-#{$space} {
    margin-top: $value  !important;
  }

  .m-top-minus-#{$space} {
    margin-top: calc(-1* (#{$value})) !important;
  }


  .m-right-#{$space} {
    margin-right: $value  !important;
  }

  .m-right-minus-#{$space} {
    margin-right: calc(-1* (#{$value})) !important;
  }

  .m-bot-#{$space} {
    margin-bottom: $value  !important;
  }

  .m-bot-minus-#{$space} {
    margin-bottom: calc(-1* (#{$value})) !important;
  }

  .m-left-#{$space} {
    margin-left: $value  !important;
  }

  .m-left-minus-#{$space} {
    margin-left: calc(-1* (#{$value})) !important;
  }

  .top-#{$space} {
    top: $value  !important;
  }

  .top-minus-#{$space} {
    top: calc(-1* (#{$value})) !important;
  }

  .right-#{$space} {
    right: $value  !important;
  }

  .right-minus-#{$space} {
    right: calc(-1* (#{$value})) !important;
  }

  .bottom-#{$space} {
    bottom: $value  !important;
  }

  .bot-minus-#{$space} {
    bottom: calc(-1* (#{$value})) !important;
  }

  .left-#{$space} {
    left: $value  !important;
  }

  .left-minus-#{$space} {
    left: calc(-1* (#{$value})) !important;
  }
}



// SMALL SPACINGS -------------------------------------------

@media only screen and (min-width: $small-screen) {

  @each $space,
  $value in $spaces-map {
    .p-sm-#{$space} {
      padding: $value  !important;
    }

    .px-sm-#{$space} {
      padding-left: $value  !important;
      padding-right: $value  !important;
    }

    .py-sm-#{$space} {
      padding-top: $value  !important;
      padding-bottom: $value  !important;
    }

    .pt-sm-#{$space} {
      padding-top: $value  !important;
    }

    .pr-sm-#{$space} {
      padding-right: $value  !important;
    }

    .pb-sm-#{$space} {
      padding-bottom: $value  !important;
    }

    .pl-sm-#{$space} {
      padding-left: $value  !important;
    }


    .m-sm-#{$space} {
      margin: $value  !important;
    }

    .mx-sm-#{$space} {
      margin-left: $value  !important;
      margin-right: $value  !important;
    }

    .-mx-sm-#{$space} {
      margin-left: calc(-1* (#{$value})) !important;
      margin-right: calc(-1* (#{$value})) !important;
    }

    .my-sm-#{$space} {
      margin-top: $value  !important;
      margin-bottom: $value  !important;
    }

    .-my-sm-#{$space} {
      margin-top: calc(-1* (#{$value})) !important;
      margin-bottom: calc(-1* (#{$value})) !important;
    }

    .mt-sm-#{$space} {
      margin-top: $value  !important;
    }

    .-mt-sm-#{$space} {
      margin-top: calc(-1* (#{$value})) !important;
    }


    .mr-sm-#{$space} {
      margin-right: $value  !important;
    }

    .-mr-sm-#{$space} {
      margin-right: calc(-1* (#{$value})) !important;
    }

    .mb-sm-#{$space} {
      margin-bottom: $value  !important;
    }

    .-mb-sm-#{$space} {
      margin-bottom: calc(-1* (#{$value})) !important;
    }

    .ml-sm-#{$space} {
      margin-left: $value  !important;
    }

    .-ml-sm-#{$space} {
      margin-left: calc(-1* (#{$value})) !important;
    }

    .top-sm-#{$space} {
      top: $value  !important;
    }

    .-top-sm-#{$space} {
      top: calc(-1* (#{$value})) !important;
    }

    .right-sm-#{$space} {
      right: $value  !important;
    }

    .-right-sm-#{$space} {
      right: calc(-1* (#{$value})) !important;
    }

    .bottom-sm-#{$space} {
      bottom: $value  !important;
    }

    .-bot-sm-#{$space} {
      bottom: calc(-1* (#{$value})) !important;
    }

    .left-sm-#{$space} {
      left: $value  !important;
    }

    .-left-sm-#{$space} {
      left: calc(-1* (#{$value})) !important;
    }
  }
}