@import './typography/headlines'

body, a
  font-family: $copy-font
  color: $primary-text

p,li
  margin: $base-margin 0

/* FONT SIZES ------------------------------------- */

.text-md, p, li
  font-size: $bread-text-sm
  line-height: $bread-text-sm-line

  @media (min-width: $medium-screen-up)
    font-size: $bread-text-md
    line-height: $bread-text-md-line
  @media (min-width: $large-screen-up)
    font-size: $bread-text-lg
    line-height: $bread-text-lg-line

.text-xs

  font-size: $tiny-text-sm
  @media (min-width: $medium-screen-up)
    font-size: $tiny-text-md
  @media (min-width: $large-screen-up)
    font-size: $tiny-text-lg

.text-sm

  font-size: $small-text-sm
  line-height: $small-text-sm-line
  @media (min-width: $medium-screen-up)
    font-size: $small-text-md
    line-height: $small-text-md-line
  @media (min-width: $large-screen-up)
    font-size: $small-text-lg
    line-height: $small-text-lg-line

.text-lg

  font-size: $large-text-sm
  @media (min-width: $medium-screen-up)
    font-size: $large-text-md
  @media (min-width: $large-screen-up)
    font-size: $large-text-lg

.dotted
  ul
    margin-left: 2.25rem !important

    li::before
      content: "•"
      color: var(--wm-primary-color)
      font-weight: bold
      font-size: 140%
      display: inline-block
      width: 1rem
      margin-left: -1.6rem!important
      margin-right: 0.4rem
      position: relative
      top: 0.2rem

/* font styles ------------------------------------- */

.uppercase
  text-transform: uppercase

.font-headline
  font-family: $headline-font

.no-deco
  text-decoration: none

/* font weights ------------------------------------- */

.light
  font-weight: 100
.bold
  font-weight: bold
.regular
  font-weight: normal

/* alignment ------------------------------------- */

.center, .sm-center
  text-align: center

.left, .sm-left
  text-align: left

.right, .sm-right
  text-align: right

  @media (min-width: $medium-screen)
    .md-left
      text-align: left
    .md-right
      text-align: right
    .md-center
      text-align: center
  @media (min-width: $large-screen)
    .lg-left
      text-align: left
    .lg-center
      text-align: center
    .lg-right
      text-align: right
