#ess-footer {
    .slider-holder {
        overflow: hidden !important;
        position: relative;

        ul {padding: 0 !important; max-width: 1000% !important;}

        .ess-footer-slider {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            position: relative;

            //min-height: 400px;
            .slide {
                width: 100%;
                top: 0;
                position: relative;
                //flex: 1;
                order: 3; // order 0 for prev, order 1 for current and 2 for next slide in parent. The rest is 3
                display: none;

                img {margin: 0 auto;}
            }

            .prev {
                order: 0;
                display: block;
            }

            .curr {
                order: 1;
                display: block;
            }

            .next {
                order: 2;
                display: block;
            }
        }
        .ess-footer-slider.sliding{
            width: 200%;
            .slide {width: 50%;}
        }

        .arrow {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 5rem;
            z-index: 1;
            background: $primary-color-transp;
            transition: all 1s;

            :hover {
                background: $secondary-color-transp;
            }

            .ess-icon {
                color: white;
                font-size: 2rem;
                line-height: 3rem;
                width: 3rem;
                text-align: center;
                cursor: pointer;
            }
        }

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }
    }
}