/* ess merge demo banner */


.ess-cube-banner-item {

	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background-position: center right !important;
	background-size: auto 100% !important;


	&#ess-cube-banner-its {
		background: rgb(255, 255, 255);
		//background: radial-gradient(circle, rgba(250, 250, 248, 1) 0%, rgba(225, 225, 225, 1) 100%);

		.banner-image-part {
			height: 100%;
			max-width: 40%;
		}

		img {
			height: 100%;
		}
	}

	&>a {
		display: flex;
		justify-content: flex-start !important;
		align-items: center;
		color: white;
		height: 100%;

		&:hover {
			text-decoration: none;
		}
	}


	.banner-text-part {
		width: 60%;
		text-align: center;
		padding: 0 2rem !important;
	}

	h2 {
		font-weight: 600;
		padding: $base-margin 0;
	}

	h3 {
		font-weight: 600;
		padding: 0 0 $base-margin 0 !important;
	}

	.ess-button {
		font-family: "Exo";
		font-weight: 300;
		font-size: 100% !important;
		margin-top: $half-margin !important;
		padding: $quarter-margin $base-margin !important;
		clip-path: polygon(.5rem 0,
				0 .5rem,
				0 100%,
				calc(100% - .5rem) 100%,
				100% calc(100% - .5rem),
				100% 0,
				.5rem 0);
	}
}


#homepage-banner {
	position: relative;
	display: none;

	.mind-slider-holder {
		.slide>a {
			flex-flow: column nowrap;
			padding-bottom: $base-margin !important;
		}
	}

	.img-half {
		width: 60%;
		min-width: 10rem;
		max-width: 60rem;
	}
}

#ess-home-banner {
	li {
		&::before {
			display: none;
		}
	}

	p {
		font-size: $csscube-p
	}
}

@media only screen and (max-width: $medium-screen) {
	#homepage-banner {

		.mind-slider-holder {

			.ess-cube-banner-item {
				.banner-text-part {
					width: 100%;


					&#ess-cube-banner-emd {
						background: color("data-cleaning", "base") !important;
					}
				}
			}
		}
	}
}