.m-spacer-i {
    height: $base-margin;
}
.m-spacer-ii {
    height: $double-margin;
}

.m-spacer-iv {
    height: $quad-margin;

}

.m-spacer-vi {
    height: $sexta-margin;
}

.m-spacer-viii {
    height: $okto-margin;
}
