#ess-side-menu {
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    background: color('shades', 'white');

    li { 
        padding: 0; 
        margin: 0;
        list-style: none;
        color: $white;
        border-bottom: 1px solid color("grey", "lighten-4");

        &.active {
            background: color("grey", "lighten-5");
        }
        a { 
            height: auto;
            text-align: center;
            color: color('grey', 'lighten-1');
            padding: $base-margin $double-margin;
        
        }
        li {
            border-top: 1px solid color('grey', 'lighten-4');
            a {
                padding: $half-margin $double-margin;
            }
        }
    }
    h1 {
        color: color("grey", "base");
        font-size: 2.5rem !important;
        margin: 0;
        //font-weight: bold;
    }
    h2 {
        font-size: 1.3rem !important;
        margin: 0;
        color: color("grey", "lighten-2");
        line-height: 1.8rem;
    }
    #ess-side-logo {
        line-height: normal;
        height: auto;
        background: $light-gray;
        background: $nav-cube-background;

        img {
            width: 40%;
            height: auto;
            margin: $base-margin;
        }
        a {
            height: auto;
            padding: $base-margin;
        }
    }
     .collapsible-body > ul:not(.collapsible) > li.active {
         color: color('grey', 'lighten-1');
         background: color("grey", "lighten-4");
     }
     .collapsible-body {
         background: color("grey", "lighten-5");
     }
}