$paragraph_text : 'Open Sans', Helvetica, Arial, sans-serif;
$headline_text: '';


body {

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 95%;

    p {font-size: 1.2rem;}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7,
    h8 {
        font-family: 'Exo', sans-serif;
        color: color('grey', 'base');
        margin: $half-margin 0;

    }

    h1 {
        font-size: $h1 ;
    }

    h2 {
        font-size: $h2 ;

    }

    h3 {
        font-size: $h3 ;
    }

    h4 {
        font-size       : $h4 ;
        line-height     : $h4-lineheight;
        padding         : $h4-lineheight 0;
        margin          : 0;
    }

    h5 {
        font-size: $h5 !important;
    }
    h6 {
        font-size: $h6 !important;
    }

    .bold {
        font-weight: bold
    }

    ;

    .light {
        font-weight: 100;
    }
    .huge-text {
        font-size: $huge-text !important;
    }

    .biggest-text {
        font-size: $biggest-text !important;
    }
    .bigger-text {
        font-size: $bigger-text !important;
    }
    .big-text {
        font-family: 'Exo', sans-serif;
        font-size: $h2;
    }
    p {
        color: $primary-text;
        &.big-claim {
            font-size: 150%;
        }
    }
    .huge-text {
        font-size: $huge-text !important;
    }
    .thin-text {
        font-weight: normal !important;
    }
    .big-claim {
        font-size: 150%;
    }
}