@import '../components/variables'
@import '../components/colors'
@import 'components/hamburger-settings'
@import 'hamburgers/_sass/hamburgers/hamburgers'

#wm-logo
  width: 100px
  padding: $half-margin

#wm-mnav-cont
  position: fixed
  height: 100vh
  width: 100vw
  z-index: 10

#wm-mnav
  display: flex
  justify-content: space-between
  flex-wrap: nowrap
  position: fixed
  top: 0
  width: 100%
  background: white
  z-index: 1000
  border-bottom: 1px solid color('gray', 'base')

#wm-mnav-slides
  width: 100vw
  height: 100vh
  max-width: 100vw
  max-height: 100vh
  background: white
  position: absolute
  top: 0
  left: 0

.hidden
  display: none
